html {
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.75)),
    rgba(0,0,0,0.55) url('../images/sun.jpg') no-repeat center;
    background-size: cover;

}
body {
  text-align: center;
  color: #fff;
}
nav {
  text-align: center;
  margin: 20px;
  font-size: 17px;
  font-family: 'Raleway', sans-serif;
  overflow: hidden;
}

nav a {
  display: inline-block;
  width: 20%;
  font-size: 16px;
  padding: 5px 0;
  color: white;
  text-decoration: none;
}
nav a:hover {
    border: 2px solid white ;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.2);

}
.active {
    border: 2px solid white ;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.2);
}
/***********************************************************/
h1 {
  width: 100%;
  margin: 10vh 0 3vh 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  font-size: 3em
}

i {
  display: block;
  width: 100%;
  margin-bottom: 4vh
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}
.fa:hover {
    opacity: 0.7;
}
.fa-linkedin {
    background: #3B5998;
    color: white;
}
.fa-twitter {
    background: #55ACEE;
    color: white;
}
.fa-google-plus {
    background: #d10;
    color: white; /* #eb0 */
}
.fa-github {
    background: #323232;
    color: white;
}
.fa-whatsapp {
    background: #34af23;
    color: white;
}
.fa-envelope-o {
  background: #c71610;
  color: white;
}
/*
.fa {
  display: inline-block;
  background: #037;
  color: #ddd;
  text-decoration: none;
  padding-top: 12px;
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 20%;
  box-sizing: border-box;
  margin-left: 15px;
  box-shadow: 0 -50px 0 0 rgba(0, 0, 0, 0) inset;
  transition: all 0.4s;
}
*/
