html {
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.75)),
    rgba(0,0,0,0.55) url('../images/lab.jpg') no-repeat center;
    background-size: cover;

}

#typer {
  font-family: 'Raleway', sans-serif;
  font-size: 70px;
  font-weight: 200;
  color: #fff;
  padding-left: 5%;
}

.text{
  /* padding-top: 10%; */
}

nav {
  text-align: center;
  margin: 20px;
  font-size: 17px;
  font-family: 'Raleway', sans-serif;
  overflow: hidden;
}

nav a {
  display: inline-block;
  width: 20%;
  font-size: 16px;
  padding: 5px 0;
  color: white;
  text-decoration: none;
}
nav a:hover {
    border: 2px solid white ;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.2);

}
.active {
    border: 2px solid white ;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.2);
}
