html{
  background-color: rgba(0, 0, 0, 0.7);
}
nav {
  text-align: center;
  margin: 20px;
  font-size: 17px;
  font-family: 'Raleway', sans-serif;
  overflow: hidden;
}

nav a {
  display: inline-block;
  width: 20%;
  font-size: 16px;
  padding: 5px 0;
  color: white;
  text-decoration: none;
}
nav a:hover {
    border: 2px solid white ;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.2);

}
.active {
    border: 2px solid white ;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.2);
}
.my-nav{
  background-color: rgba(85, 85, 85, 1);
}

/* Style the tab buttons */
.tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
}

/* Change background color of buttons on hover */
.tablink:hover {
    background-color: #777;
}

/* Set default styles for tab content */
.tabContent {
    color: white;
    display: none;
    padding: 50px;
    text-align: center;
}

/* Style each tab content individually */
#tab-1 {background-color:#F25F5C;}
#tab-2 {background-color:#5CC96C;}
#tab-3 {background-color:#51A3C6;}
#tab-4 {background-color:#787AD3;}
